body{
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-size: 16px;
    color: #FE9000;
}
.header{
    max-width: 45rem;
    text-align: center;
    background-image: url(./images/);
}